body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1f1f1f;
    color: #fff;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.test-data-container{
    grid-column: 2 / span 9;
    grid-row: 1 / span 10;
    background-color: lightblue;
}

.menu-container{
    grid-column: 1 / 2;
    grid-row: 1 / span 8;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.menu-cards{
    border-bottom: 1px solid white;
    background-color: #c0c0c0;
    justify-content: center;
    align-items: center;
}

#menu-general-settings{

}

#menu-short-report{

}

#menu-test-settings{

}

#menu-general-settings{

}