#sub-camera{
    position: absolute;
    transform: rotateY(180deg);
    width: 100%; /* Rozciągnięcie do pełnej szerokości rodzica */
    height: auto; /* Automatyczne skalowanie wysokości */
    order: 1;
}

#main-camera {
    position: absolute; /* Ustawia element względem rodzica */
    bottom: 10px; /* Odległość od dolnej krawędzi kontenera */
    right: 20px; /* Odległość od prawej krawędzi kontenera */
    transform: rotateY(180deg); /* Obrót */
    width: 15%; /* Procent szerokości w stosunku do rodzica */
    height: auto; /* Automatyczna proporcja wysokości */
    border: 2px solid white; /* Dodaj ramkę (opcjonalnie) */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Opcjonalny cień */
    transition: transform 0.2s ease-in-out;
    order: 2;
}

#main-camera:hover{
    transform: scale(1.1) rotateY(180deg);
    transition: transform 0.2s;
}